@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --themeColor: #E3F2EF;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--themeColor);
    font-family: 'Noto Sans Thai', sans-serif;
}
